@import "./variables";

.container {
  width: 100%;
  height: 100%;
  background: bisque;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  font-size: 1.3em;
  padding: 1em;
  justify-content: space-between;
  a {
    margin: auto;
    text-decoration: none;
    color: black;
  }
}

.blurb {
  font-size: 3em;
  padding: 3em;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    margin-left: -8px; /* Adjustment for the gutter */
    width: 100%;

  .element {
    flex: auto;
    width: 45%;
    margin: 0 8px 8px 0; /* Some gutter */
    position: relative;
    //margin: auto;

    div {
      @include transition(all 0.7s ease);
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 0;
      opacity: 0;
      box-sizing: border-box;
      color: white;
      font-weight: 900;
      font-style: italic;
      font-size: 2em;
      overflow: hidden;
      padding: 0 1em;
      word-wrap: break-word;
    }
    img {
      // somehow necessary to fill the image to full div height
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  .element:hover {
    div {
      height: 100%;
      opacity: 1;
      padding: 1em;
    }
  }
}

.footer {
  background: white;
  display: relative;
  padding: 3em;

  h1 {
    display: block;
    margin: 0;
  }
}
